.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
  }
  
  .login-title {
    margin-left: 10px;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 2rem;
    color: #000;
  }
  
  .phone-input {
    width: 100%;
    max-width: 320px;
    font-size: 1.2rem;
    padding: 12px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1.5rem;
  }
  
  .otp-button {
    width: 100%;
    max-width: 320px;
    font-size: 1rem;
    padding: 12px;
  }
  